!!! 5
%html
  %head
    %title= "Spotlister"
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
  %body
    %header

    %section
      %article
        %header
          %h2= "Spotify Playlists, now with purchase links."
          %p  
            Click on your purchase links below.

      %p#notice
        = notice

    %section
      %table(border="1")
        %tr
          %th
            Spotify Track
          %th
            Cover
          %th
            Amazon Equivalent
          %th
            Detail Page
          %th
            Purchase
          - @playlist.tracks.each do |track|
            - track['amazon'].each do |album|
              %tr
                %td
                  - if track['spotify'].nil?
                    Non Spotify Track
                  - else
                    = track['spotify']['track']['artist']['name'] + "- "  + track['spotify']['track']['name']
                  - begin
                    - if album && album.length > 0
                      %td
                        = image_tag(album['SmallImage']['URL'])

                      %td
                        /= "#{album['ItemAttributes']['Title']}"
                        = "#{album['ItemAttributes']['Creator']} - #{album['ItemAttributes']['Title']}"
                        /= pp album.keys
                        /= pp album['ItemAttributes']
                      %td
                        %a{href:album['DetailPageURL']}
                          See on Amazon
                      %td
                        %a{href:"https://www.amazon.com/gp/dmusic/order/handle-buy-box-bm.html/ref=dm_sp_trk_buy?ie=UTF8&asin.0=#{album['ASIN']}&initial=1&isTrack=1&session-id=191-2236278-8965562&tryInPlace=0"}
                          Purchase                    
                    - else
                      %td
                        %i
                          Not found in on Amazon
                      %td
                  -rescue
                    //- binding.pry
                  %td
                    %pre
                      /=track
                            
      %footer
        %p
          Copyright 2012 Martin Olson
          %a{ :href=>'mailto:martin@robotpolishers.com'} Get In Touch

/ = link_to 'Edit', edit_playlist_path(@playlist)
/ = link_to 'Back', playlists_path
